body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    display: flex;
}
#left{
    background-color: maroon;
    color: white;
    height: 600px;
    width: 30%;
}
#right{
    background-color: maroon;
    color: white;
    height: 600px;
    width: 70%;
    overflow: auto;
}
footer{
    background-color: dimgray;
    color: white;
}

img{
    float: left;
    padding: 10px;
    border: 1px white solid;

}

#right ul{
    float: left;
}

#right p{
    clear:both; 
    
}

p{
    padding: 10px;
}
#indigo {
    background-color: indigo;
}
#steelblue {
    background-color: steelblue;
}
#olive {
    background-color: olive;
}


