article{
    font-family: Helvetica;
    background-color:linen;
    color: #222;
    margin: auto;
    width: 90%;
}

header{
    display: flex;
}

.first, .second{
    background-color: black;
    color: white;
    width: 50px;
    height: 100px;
}

main{
    padding: 20px;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

table{
    margin: 40px;
}

tr, td{
    padding: 30px;
    text-align: center;
    font-weight: bold;
}

a{
    color: #aaa;
    font-style: normal;
    
}

