*{
    font-family: Garamond;
}

body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
                'hd     as'
                'main   as'
                'footer footer';

}

header{
    background-color: tomato;
    color: white;
    text-align: center;
    height: 80px;
    grid-area: hd;
}
main{
    height: 600px;
    grid-area: main;
}
aside{
    background-color: coral;
    height: 680px;
    grid-area: as;
}
footer{
    background-color: tomato;
    color: white;
    text-align: center;
    grid-area: footer;
}
img{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.chat{
    border: solid 1px tomato;
    margin: 15px;
    height: 470px;
    overflow:scroll ;
}
.jolka, .krzysiek{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}
.jolka{
    background-color: #EEE;
}
.jolka img{
    float: left;
}
.krzysiek{
    background-color: #CCC;
    text-align: right;
}
.krzysiek img{
    float: right;
}
button{
    background-color: tomato;
    border: solid 1px darkred;
    padding: 5px;
    font-weight: bolder;
}
input{
    width: 500px;
}