
main{
    display: flex;
    height: 100vh;
}
.left{
    width: 30%;
    background-color: aliceblue;
    padding: 2rem;
}
.right{
    width: 70%;
    background-color: antiquewhite;
    padding: 3rem;
}
.error{
    background-color: rgba(255, 0, 0, 0.5);
    border: solid 1px red;
}



